@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&family=Rakkas&display=swap");

/* BASE STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #9ab377;
}

html {
  scroll-behavior: smooth;
  --color-primary: #678e3e;
  --color-secondary: #beed8c;
}

body {
  font-family: "Rakkas", cursive;
  font-family: "Markazi Text", cursive;
  direction: rtl;
}

a {
  font-family: "Markazi Text", serif;
  text-decoration: none;
  color: white;
  background-color: var(--color-primary);
  padding: 10px 24px;
  font-weight: 600;
  transition: all 500ms;
  letter-spacing: 1px;
}

/* GENERAL STYLES */

a:hover {
  background-color: var(--color-secondary);
  color: #678e3e;
}

section:not(:nth-of-type(1)) {
  padding: 72px 80px;
}

section:nth-of-type(odd) {
  background-color: #f1f5f8;
}

.about, .products {
  display: flex;
  justify-content: center;
  column-gap: 120px;
}

.img-wrapper {
  max-width: 45%;
}

.section-description {
  max-width: 45%;
  display: flex;
  flex-direction: column;
}

.section-para {
  padding: 14px 0px 18px;
  font-size: 18px;
  line-height: 1.5;
}

.section-btn {
  align-self: center;
}

.section-green-heading {
  font-family: "Rakkas", cursive;
  color: var(--color-primary);
  font-size: 36px;
}

.section-heading {
  color: #102a42;
  font-size: 48px;
}

/* NAV */

.nav {
  background-color: transparent;
  width: 100%;
  padding: 18px 16px;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 48px;
  /* color: #678e3e; */
  font-family: "Rakkas", cursive;

  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  color: #ffffff;
  /* background: #232323; */
}

.links {
  /* border: 1px solid red; */
  font-family: "Markazi Text", serif;
  list-style: none;
  display: flex;
  column-gap: 15px;
}

.link-item {
}

.link {
  font-size: 24px;
  background-color: transparent;
}

/* HEADER */

.header {
  position: relative;
  height: 100vh;
  background-image: url("assets/main.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(2, 3, 2, 0.6);
}

.header-wrapper {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 30%;
  transform: translate(-50%);
  text-align: center;
}

.green-heading {
  font-family: "Rakkas", cursive;
  font-size: 64px;
  color: var(--color-primary);
  font-weight: 700;
}

.main-heading {
  max-width: 600px;
  margin-top: 18px;
  margin-bottom: 80px;
  color: white;
  font-size: 64px;
  line-height: 0.9;
  font-family: "Markazi Text", serif;
  /* letter-spacing: 5px; */
}

.emphasis {
  background: -webkit-linear-gradient(
    var(--color-primary),
    var(--color-secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  border-bottom: 4px solid var(--color-primary);
}

.heading-btn {
  font-style: italic;
  font-size: 24px;
  outline: 2px solid var(--color-primary);
  outline-offset: 4px;
  padding: 18px 40px;
}

/* MAIN */

.main {
  min-height: 100vh;
}

.gradient {
  width: 100%;
  height: 8px;
  background: rgb(108, 180, 58);
  background: linear-gradient(
    90deg,
    rgba(108, 180, 58, 1) 0%,
    rgba(228, 193, 12, 1) 49%,
    rgba(65, 158, 10, 1) 100%
  );
}

/* MAIN > SKILLS */

.skills {
  text-align: center;
  display: flex;
  /* flex-direction: row-reverse; */
}

.skill {
  padding: 36px 18px;
  transition: all 500ms;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.skill:hover {
  background-color: white;
  box-shadow: 0 2px var(--color-primary);
}

.skill:hover .skill-icon {
  transform: translateY(-10px);
}

.skill-icon {
  transition: all 500ms;
  color: var(--color-primary);
  font-size: 56px;
}

.skill-title {
  font-family: "Rakkas", cursive;
  color: #678e3e;
  font-weight: 600;
  font-size: 32px;
  margin: 24px 0;
}

.skill-description {
  font-family: "Markazi Text", serif;
  color: #617d98;
  font-size: 24px;
}

/* MAIN > ABOUT */

.about-img-wrapper {
  border: 5px solid #678e3e;
  background-color: #678e3e;
  overflow: hidden;
}

.about-img-wrapper:hover .about-img {
  transform: scale(1.1);
  filter: sepia(50);
}

.about-img {
  transition: all 600ms;
  width: 100%;
  height: 100%;
}

/* MAIN > PRODUCTS */

.products-img-wrapper {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  column-gap: 32px;
}

.product-wrapper {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.product-wrapper:hover .product-price {
  border-bottom: 1px solid #9ab377;
}

.product-wrapper:hover .product-img {
  transform: scale(.95);
  cursor: pointer;
}

.product-img {
  transition: all 1s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.product-info {
  /* border: 1px solid teal; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-title {
  text-align: right;
  font-size: 20px;
  color: #102a42;
}

.product-price {
  text-align: left;
  color: var(--color-primary);
  font-size: 20px;
}

/* MAIN > SERVICES */

.services {
  /* min-height: 100vh; */
}

.services-header {
  text-align: center;
  padding-bottom: 32px;
}

.cards {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 60px;
}

.card {
  background-color: #f1f5f8;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 22px;
  position: relative;
  box-shadow: -2px 0px 31px -9px rgba(0,0,0,0.31);
  -webkit-box-shadow: -2px 0px 31px -9px rgba(0,0,0,0.31);
  -moz-box-shadow: -2px 0px 31px -9px rgba(0,0,0,0.31);
  transition: transform 400ms;
}

.card:hover {
  transform: scale(1.04);
}

.card-img {
  width: 100%;
}

.card > figure {
  position: relative;
}

.card-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  color: var(--color-primary);
  background-color: var(--color-secondary);
  padding: 15px;
  border-radius: 50%;
  font-size: 24px;
  border: 5px solid #f1f5f8;
}

.card-title {
  margin-top: 25px;
  text-transform: capitalize;
  font-size: 28px;
}

.card-para {
  padding: 0 16px;
  font-size: 20px;
}

/* MAIN > CONTACT */

.contact > .green-heading {
  text-align: center;
  margin-top: -28px;
  margin-bottom: 42px;
}

.contact-wrapper {
  display: flex;
  justify-content: space-around;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  font: inherit;
}

.form > input,
.form > textarea {
  padding: 12px 10px;
  border: 1px solid var(--color-primary) !important;
  outline: none;
  resize: none;
  border: none;
  font: inherit;
}

.form > *, .form > *::placeholder {
  font-size: 19px !important;
  border-radius: 5px;
}

.form > button {
  font-family: "Markazi Text", serif;
  font-weight: 900;
  border: none;
  cursor: pointer;
  align-self: stretch;
  color: white;
  background-color: var(--color-primary);
  padding: 10px 24px;
  transition: all 500ms;
  letter-spacing: 1px;
}

.form > button:hover {
  background-color: var(--color-secondary);
  color: #678e3e;
  color: var(--color-primary);
}

.contact-info {
  display: flex;
  flex-direction: column;
  row-gap: 54px;
  font-size: 26px;
}

.contact-icon {
  color: var(--color-primary);
  font-size: 16px;
}

.contact-info small {
  display: inline-block;
  margin-bottom: 12px;
  margin-right: 5px;
  border-bottom: 1px solid var(--color-primary);
}

/* FOOTER */

.footer {
  
}